@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 95vh;
    background-color: white;
}
.banner-main{
    font-family: 'inconsolata';
    display: flex;
    width: 100%;
    height: 8rem;
    align-items: center;
}
.logo-pag{
    margin-left: 4rem;
    font-size: 24px;
}
.content-container{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scarerow{
    width: 70%;
}
.text-box{
    width: 50%;
    display: flex;
    margin-left: 20px;
}
.main-text h2{
    font-size: 64px;
    width: 500px;
    font-family: 'Space Mono';
    font-weight: 700;
}
.main-text p{
    font-size: 24px;
    width: 250px;
    margin-top: 30px;
    font-family: 'Space Mono';
    font-weight: 400;
}
button{
    width: 150px;
    height: 50px;
    background-color: #434343;
    color: white;
    margin-top: 40px;
    font-family: 'Space Mono';
    font-weight: 700;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: 'Montserrat';
    font-weight: 500;
    height: 40px;
    position: relative;
    bottom: 0;
}

@media (max-width: 414px) {
    .logo-pag{
        font-size: 24px;
    }
    .content-container{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    img{
        width: 70%;
    }
    .scarerow{
        width: 180%
    }
    .text-box{
        margin-left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    .main-text h2{
        font-size: 48px;
        width: 100%
    }
    .main-text p{
        font-size: 24px;
        width: 100%;
        margin-top: 30px;
    }
    .button_area{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
